__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

.DS_Store
Thumbs.db

runs/
!runs/detect/
!runs/detect/model_gizi/
!runs/detect/model_gizi/weights/
!runs/detect/model_gizi/weights/best.pt

crop_*.jpg

nutrition_database_ui.csv

*.zip
*.rar
dataset/